<%- include("./partials/header") %>

<div class="container">
	<div class="jumbotron">
		<h1>
			Welcome In ! 
		</h1><br><br>
		<h2>
			Here Are Some Of Our Upcoming Events ...
		</h2>
	</div>
	<div class= "row" style="display:flex; flex-wrap:wrap;">
		<div class= "col-md-4 col-sm-6">

<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/s960x960/118504685_3531053193585185_6323127518384883793_o.jpg?_nc_cat=109&_nc_sid=110474&_nc_ohc=hT34aaB7ItsAX_osrjS&_nc_ht=scontent.fbho3-1.fna&tp=7&oh=c61b3c1256ffffbb038994157b79b770&oe=5F7CFB6B" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		<div class= "col-md-4 col-sm-6">
		<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/s960x960/86793556_3025871480770028_5010553884540665856_o.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=8C8CXezgR08AX8loCvV&_nc_ht=scontent.fbho3-1.fna&tp=7&oh=094ac2ce7bb4a87ffad20e24f12ecd65&oe=5F7C2ECF" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		<div class= "col-md-4 col-sm-6">
			<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/s960x960/86270581_3007812319242611_4831368007865335808_o.jpg?_nc_cat=107&_nc_sid=110474&_nc_ohc=D3AZbTDsPk8AX924wP5&_nc_ht=scontent.fbho3-1.fna&tp=7&oh=6843256a29501d947d04f97ee1020f58&oe=5F7CEFC2" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		
	<div class= "row" style="display:flex; flex-wrap:wrap;">
		<div class= "col-md-4 col-sm-6">

<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/87302108_3032666903423819_6165020645366169600_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=R6AzH7vOgeUAX844gTZ&_nc_ht=scontent.fbho3-1.fna&oh=b7164cb2a32080afc52c6109993aab69&oe=5F7CC1DA" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		<div class= "col-md-4 col-sm-6">
		<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-0/p640x640/48403146_2235413126482538_2827362982248316928_o.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=VYO9fkj3QoIAX_MvOcb&_nc_ht=scontent.fbho3-1.fna&tp=6&oh=152697a203dd6244d003d4cdf3415823&oe=5F79A31D" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		<div class= "col-md-4 col-sm-6">
			<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/72722618_2734963069860872_1744442229021212672_n.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=TJCF1cCllhUAX8w4DrQ&_nc_ht=scontent.fbho3-1.fna&oh=268364dd895cc7d01317769a4e108d22&oe=5F7A39AC" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		
		<div class= "row" style="display:flex; flex-wrap:wrap;">
		<div class= "col-md-4 col-sm-6">

<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/s960x960/70613369_2812315645458947_7387331779046146048_o.jpg?_nc_cat=109&_nc_sid=110474&_nc_ohc=J-HNLAGek9YAX99CB9A&_nc_ht=scontent.fbho3-1.fna&tp=7&oh=0e1cd2c786ddcf1fd9ae31fafe2ee5b5&oe=5F7C9FB3" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		<div class= "col-md-4 col-sm-6">
		<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/22049898_1675643459126177_8770787192485411288_n.jpg?_nc_cat=104&_nc_sid=110474&_nc_ohc=DGfVxe_RxPUAX_L3ZXG&_nc_ht=scontent.fbho3-1.fna&oh=52d393a808721dd29d80b079ce402def&oe=5F7B06D8" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		<div class= "col-md-4 col-sm-6">
			<div class ="thumbnail text-center">
	<img  src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.0-9/s960x960/52596275_2330206457003204_3171771990193209344_o.jpg?_nc_cat=105&_nc_sid=110474&_nc_ohc=R1U6YmoeUiQAX9gG18p&_nc_ht=scontent.fbho3-1.fna&tp=7&oh=7b3b89360d1150667032099286c64b84&oe=5F7B284B" /><br>
	<p>
		<a href="/" class="btn btn-primary hello">More Info?</a>
	</p>
			</div></div>
		
		
		
		
		
		
		
	</div>
</div>


















<%- include("./partials/footer") %>